git+https://github.com/pyinstaller/pyinstaller
ipykernel<6  # Install old version of ipykernel to avoid terminal issues
glue-core
glue-vispy-viewers
glue-wwt
glue-plotly
pywwt==0.12.0
astropy<5.0
PyQt5==5.14.2
PyQtWebEngine==5.14.0
