git+https://github.com/pyinstaller/pyinstaller
ipykernel<6  # Install old version of ipykernel to avoid terminal issues
glue-core==1.2.2
glue-vispy-viewers==1.0.5
glue-wwt==0.5
glue-plotly==0.3
PyQt5==5.14.2
PyQtWebEngine==5.14.0
