pyinstaller
glue-core
glue-qt>=0.3.1
glue-vispy-viewers
glue-wwt>=0.7.2
glue-plotly
h5py
pvextractor
pywwt
notebook
PyQt6==6.6.*
PyQt6-Qt6==6.6.*
PyQt6-WebEngine==6.6.*
PyQt6-WebEngine-Qt6==6.6.*
git+https://github.com/vispy/vispy
