ipykernel<6  # Install old version of ipykernel to avoid terminal issues
glue-core
glue-vispy-viewers
glue-wwt
glue-plotly
pvextractor
pywwt
notebook
numpy<1.22
astropy<5.0
PyQt6==6.4.2
PyQt6-WebEngine==6.4.0
